@using StudentskiDom.Models
@model Zahtjev
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Ažuriranje podataka o zahtjevu</h2>





@using (Html.BeginForm("Azuriraj", "Zahtjevi", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Ispravite podatke");
    
    <div class="form-group">
        @Html.LabelFor(model => model.Korisnik.PrezimeIme, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Korisnik.PrezimeIme, new { disabled = true, @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdZahtjev, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.IdZahtjev, new { disabled = true, @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idKorisnik, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.idKorisnik, new { disabled = true, @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Korisnik.Oib, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Korisnik.Oib, new { disabled = true, @class = "form-control" })
        </div>
    </div>




    <div class="form-group">
        @Html.LabelFor(model => model.statusZahtjeva, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.CheckBoxFor(model => model.statusZahtjeva)
            @Html.ValidationMessageFor(model => model.statusZahtjeva, "", new { @class = "text-danger" })
        </div>
    </div>

    
    <div>

    </div>
    <br />



    <!--button za spremanje-->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="false"></span>Spremi
            </button>
        </div>
    </div>
}
<!--link za povratak-->
@Html.ActionLink("Povratak bez spremanja", "Index", "Zahtjevi")
