@using StudentskiDom.Models
@model Korisnik

@{
    ViewBag.Title = "Detalji";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h2>Detalji o korisniku</h2>

<a href="@Url.Action("DetaljiIspis", "Korisnici",
                new { id = Model.Id })" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Kreiraj PDF
</a>

<div class="row">
    <div class="col-md-2">
        <strong>Prezime:</strong>
    </div>
    <div class="col-md-10">
        @Model.Prezime
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Ime:</strong>
    </div>
    <div class="col-md-10">
        @Model.Ime
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Godina studija:</strong>
    </div>
    <div class="col-md-10">
        @Model.GodinaStudija
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Redovni Student:</strong>
    </div>
    <div class="col-md-10">
        @if (@Model.StatusStudenta == true)
        {
            <div>Da</div>
        }
        else
        {
            <div>Ne</div>
        }
       
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>OIB:</strong>
    </div>
    <div class="col-md-10">
        @Model.Oib
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Email:</strong>
    </div>
    <div class="col-md-10">
        @Model.Email
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Telefon:</strong>
    </div>
    <div class="col-md-10">
        @Model.Telefon
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Mjesto:</strong>
    </div>
    <div class="col-md-10">
        @if (@Model.Mjesto != null)
        {
            @Model.Mjesto.nazivMjesto
        }
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Županija:</strong>
    </div>
    <div class="col-md-10">
        @if (@Model.Mjesto != null)
        {
            @Model.Mjesto.Zupanija.nazivZupanija
        }
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Država:</strong>
    </div>
    <div class="col-md-10">
        @Model.Drzava
    </div>
</div>

@Html.ActionLink("Povratak na popis korisnika", "PopisKorisnika", "Korisnici", null, new {@class="btn btn-primary btn-sm"})