@using StudentskiDom.Models
@using StudentskiDom.Misc
@model List<Sobe>
@{
    ViewBag.Title = "Popis soba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Popis soba</h2>
@if (User.IsInRole(OvlastiKorisnik.Administrator))
{
    <a href="@Url.Action("Azuriraj","Sobe")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Kreiranje nove sobe
    </a>
}
<br />
<br />
<br />

<table class="table table-striped">
    <tr>
        <th>Id sobe</th>
        <th>Broj kreveta</th>
        <th></th>
        <th>Akcije</th>
        <th></th>


    </tr>
    @if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Korisnik))
    {
        foreach (var soba in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => soba.IdSoba)</td>

                @if (soba.BrojKreveta == 1)
                {
                    <td> @Html.DisplayName("Jednokrevetna")</td>

                }
                else
                {
                    <td>
                        @Html.DisplayName("Dvokrevetna")
                    </td>
                }

                <td>@Html.ActionLink("Detalji", "Detalji", new { id = soba.IdSoba }, new { @class = "btn btn-info btn-sm" })</td>
                @*<td>@Html.ActionLink("Ažuriraj", "Azuriraj", new { id = soba.IdSoba }, new { @class = "btn btn-danger btn-sm" })</td>
                    <td>@Html.ActionLink("Briši", "Brisi", new { id = soba.IdSoba }, new { @class = "btn btn-warning btn-sm" })</td>*@



            </tr>
        }
    }
    else if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator))
    {
        foreach (var soba in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => soba.IdSoba)</td>

                @if (soba.BrojKreveta == 1)
                {
                    <td> @Html.DisplayName("Jednokrevetna")</td>

                }
                else
                {
                    <td>
                        @Html.DisplayName("Dvokrevetna")
                    </td>
                }

                <td>@Html.ActionLink("Detalji", "Detalji", new { id = soba.IdSoba }, new { @class = "btn btn-info btn-sm" })</td>
                <td>@Html.ActionLink("Ažuriraj", "Azuriraj", new { id = soba.IdSoba }, new { @class = "btn btn-danger btn-sm" })</td>
                    <td>@Html.ActionLink("Briši", "Brisi", new { id = soba.IdSoba }, new { @class = "btn btn-warning btn-sm" })</td>



            </tr>
        }
    }
</table>



